@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>CommunicationsSol</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-lg-2">

            </div>

            <div class="col-xs-6 col-sm-8 col-lg-8">
                <nav class="navbar">
                    <div class="collapse navbar-collapse" id="myNavbar">

                        <div class="navbar">
                            <a href="/Views/Home/Solutions/"> Main </a>
                            <a href="/Views/Home/Solutions/SoldierSol"> Soldier </a>
                            <a href="/Views/Home/Solutions/VehicleSol"> Vehicle </a>
                            <a href="/Views/Home/Solutions/IntergrationSol"> Integration </a>
                            <a href="/Views/Home/Solutions/FleetSol"> Fleet </a>
                            <a href="/Views/Home/Solutions/CommunicationsSol"> Communications </a>
                            <a href="/Views/Home/Solutions/TelematicsSol"> Telematics </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-xs-3 col-sm-2 col-lg-2">
            </div>
        </div>
    </div>

    <div class="container-fluid bg-5 text-center">
        <h3 class="margin"> Communications Solutions</h3><br>
        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
        <br />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

</body>
</html>

